<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

		


		<!-- 加载Spring配置文件 -->
         <context-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:/configs/spring-mybatis.xml</param-value>
            <!-- <param-value>classpath*:spring-*.xml,
                         classpath*:applicationContext.xml</param-value> -->
         </context-param>
         <!-- Spring监听 自动启动spring-->
         <listener>
             <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
         </listener>
         <!-- Spring MVC配置 -->
         <servlet>
              <servlet-name>Dispatcher</servlet-name>
              <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
              <!-- 自定义spring mvc的配置文件名称和路径 -->
              <init-param>
                  <param-name>contextConfigLocation</param-name>
                  <param-value>classpath*:/configs/spring-servlet.xml</param-value>
              </init-param>
              <load-on-startup>1</load-on-startup>
         </servlet>
         <!-- spring mvc 请求后缀 -->
         <servlet-mapping>
            <servlet-name>Dispatcher</servlet-name>
            <url-pattern>/</url-pattern>
         </servlet-mapping>
         <welcome-file-list>
            <welcome-file>index.jsp</welcome-file>
         </welcome-file-list> 


  <display-name>Archetype Created Web Application</display-name>
</web-app>
