<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"

         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"


         xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"


         xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"


         xsi:schemaLocation="http://www.springframework.org/schema/beans


                                           http://www.springframework.org/schema/beans/spring-beans.xsd


                                                   http://www.springframework.org/schema/context


                                                   http://www.springframework.org/schema/context/spring-context-4.0.xsd


                                                   http://www.springframework.org/schema/jee


                                                        http://www.springframework.org/schema/jee/spring-jee-4.1.xsd


                                                        http://www.springframework.org/schema/mvc


                                                   http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd


                                                   http://www.springframework.org/schema/util 


                                                   http://www.springframework.org/schema/util/spring-util-4.1.xsd">
                        
        
 
	<!-- 自动扫描 注解-->
    <context:component-scan base-package="com.job">
    	<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>  
                        
                        
    <!-- 引入配置文件 -->  
    <bean id="propertyConfigurer"  
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
        <property name="location" value="classpath:/configs/jdbc.properties" />  
    </bean>  
    
  <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"  
        destroy-method="close">  
        <property name="driverClassName" value="${driver}" />  
        <property name="url" value="${url}" />  
        <property name="username" value="${username}" />  
        <property name="password" value="${password}" />  
        <!-- 初始化连接大小 -->  
        <property name="initialSize" value="${initialSize}"></property>  
        <!-- 连接池最大数量 -->  
        <property name="maxActive" value="${maxActive}"></property>  
        <!-- 连接池最大空闲 -->  
        <property name="maxIdle" value="${maxIdle}"></property>  
        <!-- 连接池最小空闲 -->  
        <property name="minIdle" value="${minIdle}"></property>  
        <!-- 获取连接最大等待时间 -->  
        <property name="maxWait" value="${maxWait}"></property>  
    </bean> 
   
     <!-- 管理session工厂，通过对mybatis.sqlSessionFactory分装来是实现 -->
     
     <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
        <property name="dataSource" ref="dataSource" />  
        <!-- 自动扫描mapping.xml文件 -->  
        <property name="mapperLocations" value="classpath:com/job/mapping/*.xml"></property>  
        <property name="configLocation" value="classpath:configs/mybatis.xml"></property>
    </bean> 
  
   	<!-- DAO接口所在包名，Spring会自动查找其下的类 -->  
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">  
        <property name="basePackage" value="com.job.dao" />  
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>  
    </bean> 
  
      <!-- (事务管理)transaction manager, use JtaTransactionManager for global tx -->  
    <bean id="transactionManager"  class="org.springframework.jdbc.datasource.DataSourceTransactionManager">  
        <property name="dataSource" ref="dataSource" />  
       
    </bean>   
     
</beans>  