<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 4.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.job.dao.EvaluateDao">
	<resultMap type="com.job.bean.Evaluate" id="evaluate">
		<id property="evaluateId" column="evaluate_id"></id>
		<result property="jobId" column="job_id"/>
		<result property="userId" column="user_id"/>
		<result property="score" column="score"/>
		<result property="content" column="content"/>
		<result property="evaluateTime" column="evaluate_time"/>
	</resultMap>
	
	<!-- 根据评价对象插入表 -->
	<insert id="insert" parameterType="com.job.bean.Evaluate">
		insert into evaluate (job_id,user_id,score,content,evaluate_time) 
			values(#{jobId},#{userId},#{score},#{content},#{evaluateTime})
	</insert>
	
	<!-- 根据评价编号删除评价 -->
	<delete id="delete" parameterType="int">
		delete from evaluate where evaluate_id=#{evaluateId}
	</delete>
	
	<!-- 通过用户id返回所有的评价 -->
	<select id="getEvaluateByUserId" parameterType="int" resultMap="evaluate">
		select * from evaluate where user_id=#{userId}
	</select>
	
	<!-- 通过发布工作人的id返回所有对他的评价 -->
	<select id="getEvaluateByJobUserId" parameterType="int" resultMap="evaluate">
		select * from evaluate where job_id in (select job_id from job where user_id = #{userId})
	</select>
</mapper>