<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 4.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.job.dao.TownDao">
	<resultMap type="com.job.bean.AddressTown" id="town">
		<id property="townId" column="town_id"/>
		<result property="townCode" column="town_code"/>
		<result property="cityCode" column="city_code"/>
		<result property="townName" column="town_name"/>
	</resultMap>
	
	<!--通过区县的名字返回区县对象 -->
	<select id="getTownByName" parameterType="java.lang.String" resultMap="town">
		select * from addressTown where town_name=#{townName}
	</select>
	
	<!--通过区县的编号返回区县对象 -->
	<select id="getTownByCode" parameterType="int" resultMap="town">
		select * from addressTown where town_code=#{townCode}
	</select>
	
	<!--通过城市的编码返回所属的区县的集合 -->
	<select id="getTownListByCity" parameterType="int" resultMap="town">
		select * from addressTown where city_code=#{cityCode}
	</select>
</mapper>